In [ ]:
from pyspark.sql import SparkSession
import os
from pyspark.sql.types import (
    StructType, StructField, StringType, IntegerType,
    FloatType, ArrayType, TimestampType
)

# For a cluster environment, replace "local[*]" with your cluster's master URL (e.g., "yarn")
spark = SparkSession.builder \
    .appName("LoadExtractedData") \
    .master("local[*]") \
    .config("spark.executor.instances", "4") \
    .config("spark.executor.memory", "4g") \
    .config("spark.executor.cores", "2") \
    .getOrCreate()

print("Spark session created with the following configuration:")
print("Executor Instances: 4")
print("Executor Memory: 4g")
print("Executor Cores: 2")

#data_path = extract_dir/["adsblog_ny0.txt.2025021200","adsblog_ny0.txt.2025021100",'adsblog_ny0.txt.2025021300','adsblog_ny0.txt.2025021000','adsblog_ny0.txt.2025020900','adsblog_ny0.txt.2025020800','adsblog_ny0.txt.2025020700','adsblog_ny0.txt.2025020600','adsblog_ny0.txt.2025020500','adsblog_ny0.txt.2025020400','adsblog_ny0.txt.2025020300','adsblog_ny0.txt.2025020200','adsblog_ny0.txt.2025020100','adsblog_ny0.txt.2025013100']

extract_dir = 'D:\Project\Spark_project/'

data_path = ['adsblog_ny0.txt.2025021200','adsblog_ny0.txt.2025021100','adsblog_ny0.txt.2025021000','adsblog_ny0.txt.2025020800','adsblog_ny0.txt.2025020700','adsblog_ny0.txt.2025020600','adsblog_ny0.txt.2025020500','adsblog_ny0.txt.2025020400','adsblog_ny0.txt.2025020300','adsblog_ny0.txt.2025020200','adsblog_ny0.txt.2025020100']
df = spark.read.json(data_path)

<>:24: SyntaxWarning: invalid escape sequence '\P'
<>:24: SyntaxWarning: invalid escape sequence '\P'
C:\Users\raksh\AppData\Local\Temp\ipykernel_24332\49237502.py:24: SyntaxWarning: invalid escape sequence '\P'
  extract_dir = 'D:\Project\Spark_project/'

Spark session created with the following configuration:
Executor Instances: 4
Executor Memory: 4g
Executor Cores: 2

In [2]:
df.count()

3305500

In [3]:
df.show()

+--------------------+--------------------+--------+
|                  dt|             payload|    type|
+--------------------+--------------------+--------+
|2025-02-12 00:00:...|{33425, 32325, 96...|new_adsb|
|2025-02-12 00:00:...|{28050, 27350, -1...|new_adsb|
|2025-02-12 00:00:...|{28050, 27350, -1...|new_adsb|
|2025-02-12 00:00:...|{39000, 37825, -3...|new_adsb|
|2025-02-12 00:00:...|{28050, 27350, -1...|new_adsb|
|2025-02-12 00:00:...|{28050, 27350, -1...|new_adsb|
|2025-02-12 00:00:...|{37000, 35825, 0,...|new_adsb|
|2025-02-12 00:00:...|{33500, 32325, 96...|new_adsb|
|2025-02-12 00:00:...|{28050, 27325, -1...|new_adsb|
|2025-02-12 00:00:...|{39000, 37825, -3...|new_adsb|
|2025-02-12 00:00:...|{33500, 32400, 10...|new_adsb|
|2025-02-12 00:00:...|{28050, 27325, -1...|new_adsb|
|2025-02-12 00:00:...|{38975, 37800, -3...|new_adsb|
|2025-02-12 00:00:...|{37000, 35825, 0,...|new_adsb|
|2025-02-12 00:00:...|{33525, 32425, 10...|new_adsb|
|2025-02-12 00:00:...|{28050, 27325, -1...|new_adsb|
|2025-02-12 00:00:...|{28050, 27325, -1...|new_adsb|
|2025-02-12 00:00:...|{38975, 37800, -3...|new_adsb|
|2025-02-12 00:00:...|{28025, 27325, -1...|new_adsb|
|2025-02-12 00:00:...|{33525, 32425, 10...|new_adsb|
+--------------------+--------------------+--------+
only showing top 20 rows

In [ ]:
from pyspark.sql.functions import col, to_date

flattened_df = df.select(
    col("type").alias("Type"),
    col("dt").alias("DT"),
    col("payload.hex").alias("HexID"),
    col("payload.flight").alias("FlightNumber"),
    col("payload.alt_baro").alias("AltBaro"),
    col("payload.alt_geom").alias("AltGeom"),
    col("payload.gs").alias("GroundSpeed"),
    col("payload.track").alias("Track"),
    col("payload.baro_rate").alias("BaroRate"),
    col("payload.squawk").alias("Squawk"),
    col("payload.emergency").alias("Emergency"),
    col("payload.category").alias("Category"),
    col("payload.nav_qnh").alias("NavQNH"),
    col("payload.nav_altitude_mcp").alias("NavAltitudeMCP"),
    col("payload.nav_heading").alias("NavHeading"),
    col("payload.lat").alias("Latitude"),
    col("payload.lon").alias("Longitude"),
    col("payload.nic").alias("NIC"),
    col("payload.rc").alias("RC"),
    col("payload.seen_pos").alias("SeenPos"),
    col("payload.version").alias("Version"),
    col("payload.nic_baro").alias("NICBaro"),
    col("payload.nac_p").alias("NAC_P"),
    col("payload.nac_v").alias("NAC_V"),
    col("payload.sil").alias("SIL"),
    col("payload.sil_type").alias("SIL_Type"),
    col("payload.gva").alias("GVA"),
    col("payload.sda").alias("SDA"),
    col("payload.mlat").alias("MLAT"),
    col("payload.tisb").alias("TISB"),
    col("payload.messages").alias("Messages"),
    col("payload.seen").alias("Seen"),
    col("payload.rssi").alias("RSSI")
)

flattened_df.printSchema()
flattened_df.show(5, truncate=False)

root
 |-- Type: string (nullable = true)
 |-- DT: string (nullable = true)
 |-- HexID: string (nullable = true)
 |-- FlightNumber: string (nullable = true)
 |-- AltBaro: string (nullable = true)
 |-- AltGeom: long (nullable = true)
 |-- GroundSpeed: double (nullable = true)
 |-- Track: double (nullable = true)
 |-- BaroRate: long (nullable = true)
 |-- Squawk: string (nullable = true)
 |-- Emergency: string (nullable = true)
 |-- Category: string (nullable = true)
 |-- NavQNH: double (nullable = true)
 |-- NavAltitudeMCP: long (nullable = true)
 |-- NavHeading: double (nullable = true)
 |-- Latitude: double (nullable = true)
 |-- Longitude: double (nullable = true)
 |-- NIC: long (nullable = true)
 |-- RC: long (nullable = true)
 |-- SeenPos: double (nullable = true)
 |-- Version: long (nullable = true)
 |-- NICBaro: long (nullable = true)
 |-- NAC_P: long (nullable = true)
 |-- NAC_V: long (nullable = true)
 |-- SIL: long (nullable = true)
 |-- SIL_Type: string (nullable = true)
 |-- GVA: long (nullable = true)
 |-- SDA: long (nullable = true)
 |-- MLAT: array (nullable = true)
 |    |-- element: string (containsNull = true)
 |-- TISB: array (nullable = true)
 |    |-- element: string (containsNull = true)
 |-- Messages: long (nullable = true)
 |-- Seen: double (nullable = true)
 |-- RSSI: double (nullable = true)

+--------+--------------------------+------+------------+-------+-------+-----------+-----+--------+------+---------+--------+------+--------------+----------+---------+----------+---+---+-------+-------+-------+-----+-----+---+--------+---+---+----+----+--------+----+-----+
|Type    |DT                        |HexID |FlightNumber|AltBaro|AltGeom|GroundSpeed|Track|BaroRate|Squawk|Emergency|Category|NavQNH|NavAltitudeMCP|NavHeading|Latitude |Longitude |NIC|RC |SeenPos|Version|NICBaro|NAC_P|NAC_V|SIL|SIL_Type|GVA|SDA|MLAT|TISB|Messages|Seen|RSSI |
+--------+--------------------------+------+------------+-------+-------+-----------+-----+--------+------+---------+--------+------+--------------+----------+---------+----------+---+---+-------+-------+-------+-----+-----+---+--------+---+---+----+----+--------+----+-----+
|new_adsb|2025-02-12 00:00:00.023480|c0611f|ACA858      |33425  |32325  |596.9      |67.6 |960     |NULL  |NULL     |A5      |1012.8|35008         |NULL      |44.741547|-75.766885|8  |186|0.8    |2      |1      |9    |1    |3  |perhour |2  |3  |[]  |[]  |90      |0.5 |-24.6|
|new_adsb|2025-02-12 00:00:00.029517|c078ba|TSC939      |28050  |27350  |480.4      |32.8 |-192    |6174  |none     |A5      |1013.6|28000         |NULL      |44.127937|-75.909184|8  |186|1.3    |2      |1      |9    |1    |3  |perhour |2  |2  |[]  |[]  |1183    |0.1 |-24.2|
|new_adsb|2025-02-12 00:00:01.056869|c078ba|TSC939      |28050  |27350  |478.2      |32.8 |-192    |6174  |none     |A5      |1013.6|28000         |NULL      |44.131382|-75.906045|8  |186|0.5    |2      |1      |9    |1    |3  |perhour |2  |2  |[]  |[]  |1190    |0.2 |-23.5|
|new_adsb|2025-02-12 00:00:01.057026|48ae07|LOT4        |39000  |37825  |605.7      |70.2 |-32     |1375  |none     |A5      |1012.8|39008         |80.2      |45.350725|-74.108946|8  |186|3.5    |2      |1      |9    |1    |3  |perhour |2  |2  |[]  |[]  |3897    |0.2 |-24.3|
|new_adsb|2025-02-12 00:00:02.077593|c078ba|TSC939      |28050  |27350  |477.7      |32.7 |-192    |6174  |none     |A5      |1013.6|28000         |NULL      |44.133151|-75.904476|8  |186|0.6    |2      |1      |9    |1    |3  |perhour |2  |2  |[]  |[]  |1198    |0.2 |-22.0|
+--------+--------------------------+------+------------+-------+-------+-----------+-----+--------+------+---------+--------+------+--------------+----------+---------+----------+---+---+-------+-------+-------+-----+-----+---+--------+---+---+----+----+--------+----+-----+
only showing top 5 rows

In [5]:
new_df = flattened_df 
new_df.show()

+--------+--------------------+------+------------+-------+-------+-----------+-----+--------+------+---------+--------+------+--------------+----------+---------+----------+---+---+-------+-------+-------+-----+-----+---+--------+---+---+----+----+--------+----+-----+
|    Type|                  DT| HexID|FlightNumber|AltBaro|AltGeom|GroundSpeed|Track|BaroRate|Squawk|Emergency|Category|NavQNH|NavAltitudeMCP|NavHeading| Latitude| Longitude|NIC| RC|SeenPos|Version|NICBaro|NAC_P|NAC_V|SIL|SIL_Type|GVA|SDA|MLAT|TISB|Messages|Seen| RSSI|
+--------+--------------------+------+------------+-------+-------+-----------+-----+--------+------+---------+--------+------+--------------+----------+---------+----------+---+---+-------+-------+-------+-----+-----+---+--------+---+---+----+----+--------+----+-----+
|new_adsb|2025-02-12 00:00:...|c0611f|    ACA858  |  33425|  32325|      596.9| 67.6|     960|  NULL|     NULL|      A5|1012.8|         35008|      NULL|44.741547|-75.766885|  8|186|    0.8|      2|      1|    9|    1|  3| perhour|  2|  3|  []|  []|      90| 0.5|-24.6|
|new_adsb|2025-02-12 00:00:...|c078ba|    TSC939  |  28050|  27350|      480.4| 32.8|    -192|  6174|     none|      A5|1013.6|         28000|      NULL|44.127937|-75.909184|  8|186|    1.3|      2|      1|    9|    1|  3| perhour|  2|  2|  []|  []|    1183| 0.1|-24.2|
|new_adsb|2025-02-12 00:00:...|c078ba|    TSC939  |  28050|  27350|      478.2| 32.8|    -192|  6174|     none|      A5|1013.6|         28000|      NULL|44.131382|-75.906045|  8|186|    0.5|      2|      1|    9|    1|  3| perhour|  2|  2|  []|  []|    1190| 0.2|-23.5|
|new_adsb|2025-02-12 00:00:...|48ae07|    LOT4    |  39000|  37825|      605.7| 70.2|     -32|  1375|     none|      A5|1012.8|         39008|      80.2|45.350725|-74.108946|  8|186|    3.5|      2|      1|    9|    1|  3| perhour|  2|  2|  []|  []|    3897| 0.2|-24.3|
|new_adsb|2025-02-12 00:00:...|c078ba|    TSC939  |  28050|  27350|      477.7| 32.7|    -192|  6174|     none|      A5|1013.6|         28000|      NULL|44.133151|-75.904476|  8|186|    0.6|      2|      1|    9|    1|  3| perhour|  2|  2|  []|  []|    1198| 0.2|-22.0|
|new_adsb|2025-02-12 00:00:...|c078ba|    TSC939  |  28050|  27350|      477.7| 32.7|    -192|  6174|     none|      A5|1013.6|         28000|      NULL|44.135971|-75.901986|  8|186|    0.1|      2|      1|    9|    1|  3| perhour|  2|  2|  []|  []|    1205| 0.1|-22.3|
|new_adsb|2025-02-12 00:00:...|aa6b9d|    UAL5    |  37000|  35825|      594.4| 68.0|       0|  0554|     none|      A5|1012.8|         36992|      78.0|45.240768|-73.606255|  8|186|   17.0|      2|      1|    9|    1|  3| perhour|  2|  2|  []|  []|    3834| 0.2|-26.1|
|new_adsb|2025-02-12 00:00:...|c0611f|    ACA858  |  33500|  32325|      596.9| 67.6|     960|  NULL|     NULL|      A5|1012.8|         35008|      NULL|44.745895|-75.751975|  8|186|    0.8|      2|      1|    9|    1|  3| perhour|  2|  3|  []|  []|      93| 0.3|-23.1|
|new_adsb|2025-02-12 00:00:...|c078ba|    TSC939  |  28050|  27325|      476.8| 32.8|    -192|  6174|     none|      A5|1013.6|         28000|      NULL|44.137024|-75.901028|  8|186|    0.6|      2|      1|    9|    1|  3| perhour|  2|  2|  []|  []|    1212| 0.1|-22.4|
|new_adsb|2025-02-12 00:00:...|48ae07|    LOT4    |  39000|  37825|      605.7| 70.2|     -32|  1375|     none|      A5|1012.8|         39008|      80.2|45.350725|-74.108946|  8|186|    6.6|      2|      1|    9|    1|  3| perhour|  2|  2|  []|  []|    3901| 0.4|-24.6|
|new_adsb|2025-02-12 00:00:...|c0611f|    ACA858  |  33500|  32400|      596.9| 67.6|    1024|  NULL|     NULL|      A5|1012.8|         35008|      NULL|44.745895|-75.751975|  8|186|    1.8|      2|      1|    9|    1|  3| perhour|  2|  3|  []|  []|      99| 0.0|-20.0|
|new_adsb|2025-02-12 00:00:...|c078ba|    TSC939  |  28050|  27325|      476.8| 32.8|    -128|  6174|     none|      A5|1013.6|         22016|      NULL|44.139175|-75.899112|  8|186|    0.5|      2|      1|    9|    1|  3| perhour|  2|  2|  []|  []|    1220| 0.3|-21.7|
|new_adsb|2025-02-12 00:00:...|48ae07|    LOT4    |  38975|  37800|      605.7| 70.2|     -32|  1375|     none|      A5|1012.8|         39008|      80.2|45.357651|-74.081661|  8|186|    0.4|      2|      1|    9|    1|  3| perhour|  2|  2|  []|  []|    3907| 0.1|-23.0|
|new_adsb|2025-02-12 00:00:...|aa6b9d|    UAL5    |  37000|  35825|      594.4| 68.0|       0|  0554|     none|      A5|1012.8|         36992|      78.0|45.240768|-73.606255|  8|186|   19.0|      2|      1|    9|    1|  3| perhour|  2|  2|  []|  []|    3835| 0.2|-26.4|
|new_adsb|2025-02-12 00:00:...|c0611f|    ACA858  |  33525|  32425|      596.9| 67.6|    1024|  NULL|     NULL|      A5|1012.8|         35008|      NULL|44.748138|-75.744324|  8|186|    0.7|      2|      1|    9|    1|  3| perhour|  2|  3|  []|  []|     108| 0.1|-20.3|
|new_adsb|2025-02-12 00:00:...|c078ba|    TSC939  |  28050|  27325|      475.4| 32.7|    -128|  6174|     none|      A5|1013.6|         16992|      NULL|44.141052|-75.897451|  8|186|    0.5|      2|      1|    9|    1|  3| perhour|  2|  2|  []|  []|    1229| 0.2|-22.2|
|new_adsb|2025-02-12 00:00:...|c078ba|    TSC939  |  28050|  27325|      474.9| 32.6|    -128|  6174|     none|      A5|1013.6|          8992|      NULL|44.142929| -75.89579|  8|186|    0.5|      2|      1|    9|    1|  3| perhour|  2|  2|  []|  []|    1236| 0.2|-21.4|
|new_adsb|2025-02-12 00:00:...|48ae07|    LOT4    |  38975|  37800|      605.7| 70.2|    -352|  1375|     none|      A5|1012.8|         39008|      80.2|45.357651|-74.081661|  8|186|    2.5|      2|      1|    9|    1|  3| perhour|  2|  2|  []|  []|    3912| 0.1|-23.0|
|new_adsb|2025-02-12 00:00:...|c078ba|    TSC939  |  28025|  27325|      474.9| 32.6|    -128|  6174|     none|      A5|1013.6|          8992|      NULL|44.145538|-75.893427|  8|186|    0.1|      2|      1|    9|    1|  3| perhour|  2|  2|  []|  []|    1242| 0.1|-21.9|
|new_adsb|2025-02-12 00:00:...|c0611f|    ACA858  |  33525|  32425|      596.9| 67.6|    1024|  NULL|     NULL|      A5|1012.8|         35008|      NULL|44.748138|-75.744324|  8|186|    3.8|      2|      1|    9|    1|  3| perhour|  2|  3|  []|  []|     110| 0.2|-21.0|
+--------+--------------------+------+------------+-------+-------+-----------+-----+--------+------+---------+--------+------+--------------+----------+---------+----------+---+---+-------+-------+-------+-----+-----+---+--------+---+---+----+----+--------+----+-----+
only showing top 20 rows

In [ ]:

from pyspark.sql.functions import to_date, col

# Create a new column 'date' 
new_df = new_df.withColumn("date", to_date(col("dt")))
new_df.show(5)

+--------+--------------------+------+------------+-------+-------+-----------+-----+--------+------+---------+--------+------+--------------+----------+---------+----------+---+---+-------+-------+-------+-----+-----+---+--------+---+---+----+----+--------+----+-----+----------+
|    Type|                  DT| HexID|FlightNumber|AltBaro|AltGeom|GroundSpeed|Track|BaroRate|Squawk|Emergency|Category|NavQNH|NavAltitudeMCP|NavHeading| Latitude| Longitude|NIC| RC|SeenPos|Version|NICBaro|NAC_P|NAC_V|SIL|SIL_Type|GVA|SDA|MLAT|TISB|Messages|Seen| RSSI|      date|
+--------+--------------------+------+------------+-------+-------+-----------+-----+--------+------+---------+--------+------+--------------+----------+---------+----------+---+---+-------+-------+-------+-----+-----+---+--------+---+---+----+----+--------+----+-----+----------+
|new_adsb|2025-02-12 00:00:...|c0611f|    ACA858  |  33425|  32325|      596.9| 67.6|     960|  NULL|     NULL|      A5|1012.8|         35008|      NULL|44.741547|-75.766885|  8|186|    0.8|      2|      1|    9|    1|  3| perhour|  2|  3|  []|  []|      90| 0.5|-24.6|2025-02-12|
|new_adsb|2025-02-12 00:00:...|c078ba|    TSC939  |  28050|  27350|      480.4| 32.8|    -192|  6174|     none|      A5|1013.6|         28000|      NULL|44.127937|-75.909184|  8|186|    1.3|      2|      1|    9|    1|  3| perhour|  2|  2|  []|  []|    1183| 0.1|-24.2|2025-02-12|
|new_adsb|2025-02-12 00:00:...|c078ba|    TSC939  |  28050|  27350|      478.2| 32.8|    -192|  6174|     none|      A5|1013.6|         28000|      NULL|44.131382|-75.906045|  8|186|    0.5|      2|      1|    9|    1|  3| perhour|  2|  2|  []|  []|    1190| 0.2|-23.5|2025-02-12|
|new_adsb|2025-02-12 00:00:...|48ae07|    LOT4    |  39000|  37825|      605.7| 70.2|     -32|  1375|     none|      A5|1012.8|         39008|      80.2|45.350725|-74.108946|  8|186|    3.5|      2|      1|    9|    1|  3| perhour|  2|  2|  []|  []|    3897| 0.2|-24.3|2025-02-12|
|new_adsb|2025-02-12 00:00:...|c078ba|    TSC939  |  28050|  27350|      477.7| 32.7|    -192|  6174|     none|      A5|1013.6|         28000|      NULL|44.133151|-75.904476|  8|186|    0.6|      2|      1|    9|    1|  3| perhour|  2|  2|  []|  []|    1198| 0.2|-22.0|2025-02-12|
+--------+--------------------+------+------------+-------+-------+-----------+-----+--------+------+---------+--------+------+--------------+----------+---------+----------+---+---+-------+-------+-------+-----+-----+---+--------+---+---+----+----+--------+----+-----+----------+
only showing top 5 rows

In [7]:
new_df.groupBy('date').count().show()

+----------+------+
|      date| count|
+----------+------+
|2025-02-12|290414|
|2025-02-11|294708|
|2025-02-10|317545|
|2025-02-08|247969|
|2025-02-07|315886|
|2025-02-06|310719|
|2025-02-05|319251|
|2025-02-04|282303|
|2025-02-03|263173|
|2025-02-02|358110|
|2025-02-01|305422|
+----------+------+

In [8]:
new_df.count()

3305500

In [ ]:
from pyspark.sql.functions import col, sum


null_counts = new_df.select([sum(col(c).isNull().cast("integer")).alias(c) for c in new_df.columns])
null_counts.show()

+----+---+-----+------------+-------+-------+-----------+-----+--------+------+---------+--------+------+--------------+----------+--------+---------+------+------+-------+-------+-------+-----+-----+-----+--------+------+------+----+----+--------+----+----+----+
|Type| DT|HexID|FlightNumber|AltBaro|AltGeom|GroundSpeed|Track|BaroRate|Squawk|Emergency|Category|NavQNH|NavAltitudeMCP|NavHeading|Latitude|Longitude|   NIC|    RC|SeenPos|Version|NICBaro|NAC_P|NAC_V|  SIL|SIL_Type|   GVA|   SDA|MLAT|TISB|Messages|Seen|RSSI|date|
+----+---+-----+------------+-------+-------+-----------+-----+--------+------+---------+--------+------+--------------+----------+--------+---------+------+------+-------+-------+-------+-----+-----+-----+--------+------+------+----+----+--------+----+----+----+
|   0|  0|    0|      276221|  15010|  54917|      42309|42870|  401359|283412|   332264|  145885|435355|        447304|   1500774|  117031|   117031|117031|117031| 117031|  22203|  89831|60831|47425|60831|   27089|191045|189826|   0|   0|       0|   0|   0|   0|
+----+---+-----+------------+-------+-------+-----------+-----+--------+------+---------+--------+------+--------------+----------+--------+---------+------+------+-------+-------+-------+-----+-----+-----+--------+------+------+----+----+--------+----+----+----+

In [10]:
new_df.groupBy("FlightNumber").count().orderBy("count", ascending=False).show()

+------------+------+
|FlightNumber| count|
+------------+------+
|        NULL|276221|
|    JIA5350 | 16806|
|    CFVLF   | 11894|
|    N705KC  | 11584|
|    DAL2643 | 10687|
|    JZA569  | 10351|
|    PTR2280 | 10254|
|    PTR2340 | 10035|
|    PTR2476 | 10032|
|    PTR2452 |  9645|
|    DAL2597 |  9463|
|    PTR2296 |  9426|
|    DAL2629 |  9320|
|    DAL2416 |  9303|
|    PWC328  |  9063|
|    ACA649  |  8908|
|    JZA7971 |  8779|
|    SKW4122 |  8746|
|    PTR2304 |  8698|
|    JZA568  |  8535|
+------------+------+
only showing top 20 rows

In [11]:
from pyspark.sql.functions import avg, round

new_df.groupBy("FlightNumber") \
  .agg(round(avg("GroundSpeed"), 2).alias("avg_speed")) \
  .orderBy("avg_speed", ascending=False) \
  .show(10)

+------------+---------+
|FlightNumber|avg_speed|
+------------+---------+
|    UPS213  |    653.3|
|    VIR8Y   |   644.85|
|    N107AV  |   637.66|
|    EJA746  |   637.49|
|    EJA804  |   637.09|
|    AFR6721 |   635.46|
|    AAL9602 |   634.11|
|    EJA205  |   633.54|
|    THT8    |   632.88|
|    GTI8092 |   632.86|
+------------+---------+
only showing top 10 rows

In [12]:
from pyspark.sql.functions import round

new_df.groupBy(round(col("Latitude"), 2).alias("lat_group"),
           round(col("Longitude"), 2).alias("lon_group")) \
  .count() \
  .orderBy("count", ascending=False) \
  .show(10, truncate=False)

+---------+---------+------+
|lat_group|lon_group|count |
+---------+---------+------+
|NULL     |NULL     |117031|
|45.1     |-74.67   |3203  |
|45.09    |-74.69   |3122  |
|45.06    |-74.76   |3114  |
|45.05    |-74.79   |3102  |
|45.08    |-74.71   |3093  |
|45.04    |-74.81   |3058  |
|45.1     |-74.66   |3050  |
|45.02    |-74.86   |3029  |
|45.03    |-74.84   |3026  |
+---------+---------+------+
only showing top 10 rows

In [13]:
from pyspark.sql.functions import max, min, avg

new_df.groupBy("FlightNumber") \
  .agg(
    max("AltBaro").alias("MaxAltBaro"),
    min("AltBaro").alias("MinAltBaro"),
    avg("AltBaro").alias("AvgAltBaro")
  ) \
  .orderBy("AvgAltBaro", ascending=False) \
  .show(10)

+------------+----------+----------+------------------+
|FlightNumber|MaxAltBaro|MinAltBaro|        AvgAltBaro|
+------------+----------+----------+------------------+
|    OKJMD   |     47025|     46975| 47000.02329916123|
|    N309EL  |     47000|     41000| 46314.65517241379|
|    N162JC  |     46000|     45025| 45273.48484848485|
|    N889CH  |     45025|     45000|45000.544554455446|
|    ASP642  |     45025|     45000| 45000.10148849797|
|    LXJ566  |     45000|     45000|           45000.0|
|    LEA114D |     45025|     44975|44999.400684931505|
|    LXJ558  |     45000|     44975|44997.074468085106|
|    KCE2    |     45000|     44975| 44992.28624535316|
|    CFOCI   |     45025|     44950| 44992.18436873748|
+------------+----------+----------+------------------+
only showing top 10 rows

In [14]:
from pyspark.sql.window import Window
from pyspark.sql.functions import lag, col

# Define a window partitioned by FlightNumber and ordered by DT
windowSpec = Window.partitionBy("FlightNumber").orderBy("DT")

# Calculate the previous altitude (AltBaro) and compute the drop
df_altitude = new_df.withColumn("PrevAltBaro", lag("AltBaro").over(windowSpec))
df_altitude = df_altitude.withColumn("AltDrop", col("PrevAltBaro") - col("AltBaro"))

# Filter for significant altitude drops (e.g., greater than 1000 feet)
df_altitude.filter(col("AltDrop") > 1000) \
  .select("FlightNumber", "DT", "PrevAltBaro", "AltBaro", "AltDrop") \
  .orderBy("AltDrop", ascending=False) \
  .show(10, truncate=False)

+------------+--------------------------+-----------+-------+--------+
|FlightNumber|DT                        |PrevAltBaro|AltBaro|AltDrop |
+------------+--------------------------+-----------+-------+--------+
|NULL        |2025-02-07 13:00:05.506616|122900     |6025   |116875.0|
|NULL        |2025-02-02 13:46:54.672954|123000     |10575  |112425.0|
|NULL        |2025-02-03 07:28:28.285634|118500     |18925  |99575.0 |
|POE158      |2025-02-02 08:20:45.315007|118300     |23000  |95300.0 |
|POE504      |2025-02-03 20:14:34.418755|118900     |24150  |94750.0 |
|POE518      |2025-02-07 19:45:13.366376|121600     |26900  |94700.0 |
|NULL        |2025-02-12 17:52:35.738551|113500     |19975  |93525.0 |
|NULL        |2025-02-06 21:39:20.917173|119000     |25525  |93475.0 |
|ACA468      |2025-02-01 21:53:10.363923|101200     |9375   |91825.0 |
|ASA364      |2025-02-05 19:06:24.786689|123700     |32000  |91700.0 |
+------------+--------------------------+-----------+-------+--------+
only showing top 10 rows

In [15]:
# Register the DataFrame as a temporary view named "flights"
new_df.createOrReplaceTempView("flights")

In [16]:
# Simple query to select all columns from the flights view
all_flights = spark.sql("SELECT * FROM flights")
all_flights.show(10, truncate=False)

+--------+--------------------------+------+------------+-------+-------+-----------+-----+--------+------+---------+--------+------+--------------+----------+---------+----------+---+---+-------+-------+-------+-----+-----+---+--------+---+---+----+----+--------+----+-----+----------+
|Type    |DT                        |HexID |FlightNumber|AltBaro|AltGeom|GroundSpeed|Track|BaroRate|Squawk|Emergency|Category|NavQNH|NavAltitudeMCP|NavHeading|Latitude |Longitude |NIC|RC |SeenPos|Version|NICBaro|NAC_P|NAC_V|SIL|SIL_Type|GVA|SDA|MLAT|TISB|Messages|Seen|RSSI |date      |
+--------+--------------------------+------+------------+-------+-------+-----------+-----+--------+------+---------+--------+------+--------------+----------+---------+----------+---+---+-------+-------+-------+-----+-----+---+--------+---+---+----+----+--------+----+-----+----------+
|new_adsb|2025-02-12 00:00:00.023480|c0611f|ACA858      |33425  |32325  |596.9      |67.6 |960     |NULL  |NULL     |A5      |1012.8|35008         |NULL      |44.741547|-75.766885|8  |186|0.8    |2      |1      |9    |1    |3  |perhour |2  |3  |[]  |[]  |90      |0.5 |-24.6|2025-02-12|
|new_adsb|2025-02-12 00:00:00.029517|c078ba|TSC939      |28050  |27350  |480.4      |32.8 |-192    |6174  |none     |A5      |1013.6|28000         |NULL      |44.127937|-75.909184|8  |186|1.3    |2      |1      |9    |1    |3  |perhour |2  |2  |[]  |[]  |1183    |0.1 |-24.2|2025-02-12|
|new_adsb|2025-02-12 00:00:01.056869|c078ba|TSC939      |28050  |27350  |478.2      |32.8 |-192    |6174  |none     |A5      |1013.6|28000         |NULL      |44.131382|-75.906045|8  |186|0.5    |2      |1      |9    |1    |3  |perhour |2  |2  |[]  |[]  |1190    |0.2 |-23.5|2025-02-12|
|new_adsb|2025-02-12 00:00:01.057026|48ae07|LOT4        |39000  |37825  |605.7      |70.2 |-32     |1375  |none     |A5      |1012.8|39008         |80.2      |45.350725|-74.108946|8  |186|3.5    |2      |1      |9    |1    |3  |perhour |2  |2  |[]  |[]  |3897    |0.2 |-24.3|2025-02-12|
|new_adsb|2025-02-12 00:00:02.077593|c078ba|TSC939      |28050  |27350  |477.7      |32.7 |-192    |6174  |none     |A5      |1013.6|28000         |NULL      |44.133151|-75.904476|8  |186|0.6    |2      |1      |9    |1    |3  |perhour |2  |2  |[]  |[]  |1198    |0.2 |-22.0|2025-02-12|
|new_adsb|2025-02-12 00:00:03.110872|c078ba|TSC939      |28050  |27350  |477.7      |32.7 |-192    |6174  |none     |A5      |1013.6|28000         |NULL      |44.135971|-75.901986|8  |186|0.1    |2      |1      |9    |1    |3  |perhour |2  |2  |[]  |[]  |1205    |0.1 |-22.3|2025-02-12|
|new_adsb|2025-02-12 00:00:03.111036|aa6b9d|UAL5        |37000  |35825  |594.4      |68.0 |0       |0554  |none     |A5      |1012.8|36992         |78.0      |45.240768|-73.606255|8  |186|17.0   |2      |1      |9    |1    |3  |perhour |2  |2  |[]  |[]  |3834    |0.2 |-26.1|2025-02-12|
|new_adsb|2025-02-12 00:00:04.128488|c0611f|ACA858      |33500  |32325  |596.9      |67.6 |960     |NULL  |NULL     |A5      |1012.8|35008         |NULL      |44.745895|-75.751975|8  |186|0.8    |2      |1      |9    |1    |3  |perhour |2  |3  |[]  |[]  |93      |0.3 |-23.1|2025-02-12|
|new_adsb|2025-02-12 00:00:04.128849|c078ba|TSC939      |28050  |27325  |476.8      |32.8 |-192    |6174  |none     |A5      |1013.6|28000         |NULL      |44.137024|-75.901028|8  |186|0.6    |2      |1      |9    |1    |3  |perhour |2  |2  |[]  |[]  |1212    |0.1 |-22.4|2025-02-12|
|new_adsb|2025-02-12 00:00:04.129132|48ae07|LOT4        |39000  |37825  |605.7      |70.2 |-32     |1375  |none     |A5      |1012.8|39008         |80.2      |45.350725|-74.108946|8  |186|6.6    |2      |1      |9    |1    |3  |perhour |2  |2  |[]  |[]  |3901    |0.4 |-24.6|2025-02-12|
+--------+--------------------------+------+------------+-------+-------+-----------+-----+--------+------+---------+--------+------+--------------+----------+---------+----------+---+---+-------+-------+-------+-----+-----+---+--------+---+---+----+----+--------+----+-----+----------+
only showing top 10 rows

In [17]:
low_altitude_flights = spark.sql("""
    SELECT FlightNumber, DT, AltBaro, Latitude, Longitude 
    FROM flights 
    WHERE AltBaro < 5000
    ORDER BY DT
""")
low_altitude_flights.show(10, truncate=False)

+------------+--------------------------+-------+---------+----------+
|FlightNumber|DT                        |AltBaro|Latitude |Longitude |
+------------+--------------------------+-------+---------+----------+
|N705KC      |2025-02-01 02:05:02.297323|4800   |44.453896|-75.135096|
|N705KC      |2025-02-01 02:05:07.401492|4700   |44.457413|-75.128108|
|N705KC      |2025-02-01 02:05:08.421210|4700   |44.457713|-75.127459|
|N705KC      |2025-02-01 02:05:10.456046|4600   |44.459244|-75.124381|
|N705KC      |2025-02-01 02:05:11.473198|4600   |44.459529|-75.123909|
|N705KC      |2025-02-01 02:05:12.495895|4600   |44.46032 |-75.122234|
|N705KC      |2025-02-01 02:05:13.515173|4600   |44.461029|-75.120784|
|N705KC      |2025-02-01 02:05:14.529976|4500   |44.461716|-75.119476|
|N705KC      |2025-02-01 02:05:15.556380|4500   |44.462265|-75.118299|
|N705KC      |2025-02-01 02:05:16.576722|4500   |44.46286 |-75.117122|
+------------+--------------------------+-------+---------+----------+
only showing top 10 rows

In [18]:
low_altitude_flights = spark.sql("""
    SELECT 
        FlightNumber,
        MIN(DT) AS FirstDT,
        AVG(AltBaro) AS AvgAltBaro,
        MIN(Latitude) AS Latitude,
        MIN(Longitude) AS Longitude
    FROM flights
    WHERE AltBaro < 5000
    GROUP BY FlightNumber
    ORDER BY FirstDT
""")
low_altitude_flights.show(10, truncate=False)

+------------+--------------------------+------------------+---------+----------+
|FlightNumber|FirstDT                   |AvgAltBaro        |Latitude |Longitude |
+------------+--------------------------+------------------+---------+----------+
|N705KC      |2025-02-01 02:05:02.297323|2294.5890128046262|44.391495|-75.174539|
|NULL        |2025-02-01 02:12:52.840921|3075.3948753948753|43.638207|-76.175537|
|BTQ861      |2025-02-01 08:28:16.270446|4322.916666666667 |44.847198|-74.779619|
|CVU71       |2025-02-01 09:15:31.297153|2379.982495623906 |44.305893|-75.086714|
|N2626T      |2025-02-01 10:27:14.678542|3615.2083333333335|44.27304 |-75.388903|
|BTQ862      |2025-02-01 11:37:55.774688|3681.8030973451328|44.715317|-74.976523|
|CFXKI       |2025-02-01 11:52:26.751456|4584.411764705882 |44.866767|-74.767456|
|BTQ863      |2025-02-01 12:09:05.649045|4317.96218487395  |44.840286|-74.834617|
|JZA7962     |2025-02-01 12:47:42.252269|1850.0            |NULL     |NULL      |
|N87341      |2025-02-01 14:40:48.078744|4136.111111111111 |44.152191|-75.294342|
+------------+--------------------------+------------------+---------+----------+
only showing top 10 rows

In [19]:
from pyspark.sql.functions import date_trunc, col, first

# Truncate the DT column to the second level and alias it as SecondTS
df_with_second = new_df.withColumn("SecondTS", date_trunc("second", col("DT")))

# Group by FlightNumber and SecondTS, then take the first Latitude and Longitude in that second
df_snapshot = df_with_second.groupBy("FlightNumber", "SecondTS").agg(
    first("Latitude").alias("Latitude"),
    first("Longitude").alias("Longitude")
)

# Order by FlightNumber and SecondTS for clarity and display the result
df_flightpath = df_snapshot.orderBy("FlightNumber", "SecondTS")

In [20]:
df_flightpath.show()

+------------+-------------------+---------+----------+
|FlightNumber|           SecondTS| Latitude| Longitude|
+------------+-------------------+---------+----------+
|        NULL|2025-02-01 00:00:02|     NULL|      NULL|
|        NULL|2025-02-01 00:00:14|44.708405|-75.964573|
|        NULL|2025-02-01 00:00:15|44.709281|-75.961482|
|        NULL|2025-02-01 00:00:19|44.712936|-75.948617|
|        NULL|2025-02-01 00:00:20|44.713577|-75.946132|
|        NULL|2025-02-01 00:00:21|44.713577|-75.946132|
|        NULL|2025-02-01 00:00:27|45.142403|-74.560592|
|        NULL|2025-02-01 00:00:32|45.582138| -73.89143|
|        NULL|2025-02-01 00:00:33|44.724178|-75.905747|
|        NULL|2025-02-01 00:00:45|44.724178|-75.905747|
|        NULL|2025-02-01 00:00:49|44.736887|-75.857313|
|        NULL|2025-02-01 00:00:54|45.582138| -73.89143|
|        NULL|2025-02-01 00:00:55|45.582138| -73.89143|
|        NULL|2025-02-01 00:01:06|44.736887|-75.857313|
|        NULL|2025-02-01 00:01:07|44.736887|-75.857313|
|        NULL|2025-02-01 00:01:09|44.753265|-75.795332|
|        NULL|2025-02-01 00:01:11|44.754716|-75.789854|
|        NULL|2025-02-01 00:01:12|45.582138| -73.89143|
|        NULL|2025-02-01 00:01:38|     NULL|      NULL|
|        NULL|2025-02-01 00:01:50|     NULL|      NULL|
+------------+-------------------+---------+----------+
only showing top 20 rows

In [21]:
distinct_flights_count = df_flightpath.select("FlightNumber").distinct().count()
print("Distinct FlightNumber count:", distinct_flights_count)

Distinct FlightNumber count: 2199

In [22]:
from pyspark.sql.functions import col

selected_df = df_flightpath.filter(col("FlightNumber") == "ACA401")
selected_df.show()

+------------+--------+--------+---------+
|FlightNumber|SecondTS|Latitude|Longitude|
+------------+--------+--------+---------+
+------------+--------+--------+---------+

In [23]:
new_df.show()

+--------+--------------------+------+------------+-------+-------+-----------+-----+--------+------+---------+--------+------+--------------+----------+---------+----------+---+---+-------+-------+-------+-----+-----+---+--------+---+---+----+----+--------+----+-----+----------+
|    Type|                  DT| HexID|FlightNumber|AltBaro|AltGeom|GroundSpeed|Track|BaroRate|Squawk|Emergency|Category|NavQNH|NavAltitudeMCP|NavHeading| Latitude| Longitude|NIC| RC|SeenPos|Version|NICBaro|NAC_P|NAC_V|SIL|SIL_Type|GVA|SDA|MLAT|TISB|Messages|Seen| RSSI|      date|
+--------+--------------------+------+------------+-------+-------+-----------+-----+--------+------+---------+--------+------+--------------+----------+---------+----------+---+---+-------+-------+-------+-----+-----+---+--------+---+---+----+----+--------+----+-----+----------+
|new_adsb|2025-02-12 00:00:...|c0611f|    ACA858  |  33425|  32325|      596.9| 67.6|     960|  NULL|     NULL|      A5|1012.8|         35008|      NULL|44.741547|-75.766885|  8|186|    0.8|      2|      1|    9|    1|  3| perhour|  2|  3|  []|  []|      90| 0.5|-24.6|2025-02-12|
|new_adsb|2025-02-12 00:00:...|c078ba|    TSC939  |  28050|  27350|      480.4| 32.8|    -192|  6174|     none|      A5|1013.6|         28000|      NULL|44.127937|-75.909184|  8|186|    1.3|      2|      1|    9|    1|  3| perhour|  2|  2|  []|  []|    1183| 0.1|-24.2|2025-02-12|
|new_adsb|2025-02-12 00:00:...|c078ba|    TSC939  |  28050|  27350|      478.2| 32.8|    -192|  6174|     none|      A5|1013.6|         28000|      NULL|44.131382|-75.906045|  8|186|    0.5|      2|      1|    9|    1|  3| perhour|  2|  2|  []|  []|    1190| 0.2|-23.5|2025-02-12|
|new_adsb|2025-02-12 00:00:...|48ae07|    LOT4    |  39000|  37825|      605.7| 70.2|     -32|  1375|     none|      A5|1012.8|         39008|      80.2|45.350725|-74.108946|  8|186|    3.5|      2|      1|    9|    1|  3| perhour|  2|  2|  []|  []|    3897| 0.2|-24.3|2025-02-12|
|new_adsb|2025-02-12 00:00:...|c078ba|    TSC939  |  28050|  27350|      477.7| 32.7|    -192|  6174|     none|      A5|1013.6|         28000|      NULL|44.133151|-75.904476|  8|186|    0.6|      2|      1|    9|    1|  3| perhour|  2|  2|  []|  []|    1198| 0.2|-22.0|2025-02-12|
|new_adsb|2025-02-12 00:00:...|c078ba|    TSC939  |  28050|  27350|      477.7| 32.7|    -192|  6174|     none|      A5|1013.6|         28000|      NULL|44.135971|-75.901986|  8|186|    0.1|      2|      1|    9|    1|  3| perhour|  2|  2|  []|  []|    1205| 0.1|-22.3|2025-02-12|
|new_adsb|2025-02-12 00:00:...|aa6b9d|    UAL5    |  37000|  35825|      594.4| 68.0|       0|  0554|     none|      A5|1012.8|         36992|      78.0|45.240768|-73.606255|  8|186|   17.0|      2|      1|    9|    1|  3| perhour|  2|  2|  []|  []|    3834| 0.2|-26.1|2025-02-12|
|new_adsb|2025-02-12 00:00:...|c0611f|    ACA858  |  33500|  32325|      596.9| 67.6|     960|  NULL|     NULL|      A5|1012.8|         35008|      NULL|44.745895|-75.751975|  8|186|    0.8|      2|      1|    9|    1|  3| perhour|  2|  3|  []|  []|      93| 0.3|-23.1|2025-02-12|
|new_adsb|2025-02-12 00:00:...|c078ba|    TSC939  |  28050|  27325|      476.8| 32.8|    -192|  6174|     none|      A5|1013.6|         28000|      NULL|44.137024|-75.901028|  8|186|    0.6|      2|      1|    9|    1|  3| perhour|  2|  2|  []|  []|    1212| 0.1|-22.4|2025-02-12|
|new_adsb|2025-02-12 00:00:...|48ae07|    LOT4    |  39000|  37825|      605.7| 70.2|     -32|  1375|     none|      A5|1012.8|         39008|      80.2|45.350725|-74.108946|  8|186|    6.6|      2|      1|    9|    1|  3| perhour|  2|  2|  []|  []|    3901| 0.4|-24.6|2025-02-12|
|new_adsb|2025-02-12 00:00:...|c0611f|    ACA858  |  33500|  32400|      596.9| 67.6|    1024|  NULL|     NULL|      A5|1012.8|         35008|      NULL|44.745895|-75.751975|  8|186|    1.8|      2|      1|    9|    1|  3| perhour|  2|  3|  []|  []|      99| 0.0|-20.0|2025-02-12|
|new_adsb|2025-02-12 00:00:...|c078ba|    TSC939  |  28050|  27325|      476.8| 32.8|    -128|  6174|     none|      A5|1013.6|         22016|      NULL|44.139175|-75.899112|  8|186|    0.5|      2|      1|    9|    1|  3| perhour|  2|  2|  []|  []|    1220| 0.3|-21.7|2025-02-12|
|new_adsb|2025-02-12 00:00:...|48ae07|    LOT4    |  38975|  37800|      605.7| 70.2|     -32|  1375|     none|      A5|1012.8|         39008|      80.2|45.357651|-74.081661|  8|186|    0.4|      2|      1|    9|    1|  3| perhour|  2|  2|  []|  []|    3907| 0.1|-23.0|2025-02-12|
|new_adsb|2025-02-12 00:00:...|aa6b9d|    UAL5    |  37000|  35825|      594.4| 68.0|       0|  0554|     none|      A5|1012.8|         36992|      78.0|45.240768|-73.606255|  8|186|   19.0|      2|      1|    9|    1|  3| perhour|  2|  2|  []|  []|    3835| 0.2|-26.4|2025-02-12|
|new_adsb|2025-02-12 00:00:...|c0611f|    ACA858  |  33525|  32425|      596.9| 67.6|    1024|  NULL|     NULL|      A5|1012.8|         35008|      NULL|44.748138|-75.744324|  8|186|    0.7|      2|      1|    9|    1|  3| perhour|  2|  3|  []|  []|     108| 0.1|-20.3|2025-02-12|
|new_adsb|2025-02-12 00:00:...|c078ba|    TSC939  |  28050|  27325|      475.4| 32.7|    -128|  6174|     none|      A5|1013.6|         16992|      NULL|44.141052|-75.897451|  8|186|    0.5|      2|      1|    9|    1|  3| perhour|  2|  2|  []|  []|    1229| 0.2|-22.2|2025-02-12|
|new_adsb|2025-02-12 00:00:...|c078ba|    TSC939  |  28050|  27325|      474.9| 32.6|    -128|  6174|     none|      A5|1013.6|          8992|      NULL|44.142929| -75.89579|  8|186|    0.5|      2|      1|    9|    1|  3| perhour|  2|  2|  []|  []|    1236| 0.2|-21.4|2025-02-12|
|new_adsb|2025-02-12 00:00:...|48ae07|    LOT4    |  38975|  37800|      605.7| 70.2|    -352|  1375|     none|      A5|1012.8|         39008|      80.2|45.357651|-74.081661|  8|186|    2.5|      2|      1|    9|    1|  3| perhour|  2|  2|  []|  []|    3912| 0.1|-23.0|2025-02-12|
|new_adsb|2025-02-12 00:00:...|c078ba|    TSC939  |  28025|  27325|      474.9| 32.6|    -128|  6174|     none|      A5|1013.6|          8992|      NULL|44.145538|-75.893427|  8|186|    0.1|      2|      1|    9|    1|  3| perhour|  2|  2|  []|  []|    1242| 0.1|-21.9|2025-02-12|
|new_adsb|2025-02-12 00:00:...|c0611f|    ACA858  |  33525|  32425|      596.9| 67.6|    1024|  NULL|     NULL|      A5|1012.8|         35008|      NULL|44.748138|-75.744324|  8|186|    3.8|      2|      1|    9|    1|  3| perhour|  2|  3|  []|  []|     110| 0.2|-21.0|2025-02-12|
+--------+--------------------+------+------------+-------+-------+-----------+-----+--------+------+---------+--------+------+--------------+----------+---------+----------+---+---+-------+-------+-------+-----+-----+---+--------+---+---+----+----+--------+----+-----+----------+
only showing top 20 rows

In [24]:
from pyspark.sql.functions import col

new_df_for_join = new_df.select("FlightNumber","date" )

# Perform a left join on FlightNumber and SecondTS
df_flightpath_with_date = df_flightpath.join(
    new_df_for_join,
    on=["FlightNumber"],
    how="right"
)

df_flightpath_with_date.show(10, truncate=False)

+------------+-------------------+---------+----------+----------+
|FlightNumber|SecondTS           |Latitude |Longitude |date      |
+------------+-------------------+---------+----------+----------+
|ACA840      |2025-02-01 17:23:11|44.822113|-76.012704|2025-02-05|
|ACA840      |2025-02-01 17:23:58|44.86323 |-75.853562|2025-02-05|
|ACA840      |2025-02-01 17:24:06|44.870538|-75.825225|2025-02-05|
|ACA840      |2025-02-01 17:24:14|44.876962|-75.800171|2025-02-05|
|ACA840      |2025-02-01 17:24:45|44.904614|-75.692183|2025-02-05|
|ACA840      |2025-02-01 17:25:20|44.934402|-75.575801|2025-02-05|
|ACA840      |2025-02-01 17:25:30|44.942642|-75.5433  |2025-02-05|
|ACA840      |2025-02-01 17:25:38|44.950562|-75.512107|2025-02-05|
|ACA840      |2025-02-01 17:26:01|44.969101|-75.438799|2025-02-05|
|ACA840      |2025-02-01 17:26:15|44.981239|-75.390595|2025-02-05|
+------------+-------------------+---------+----------+----------+
only showing top 10 rows

In [25]:
df_flightpath.groupBy("FlightNumber").count().orderBy("count", ascending=False).show()

+------------+------+
|FlightNumber| count|
+------------+------+
|        NULL|229919|
|    JIA5350 | 16806|
|    CFVLF   | 11892|
|    N705KC  | 11583|
|    DAL2643 | 10686|
|    JZA569  | 10351|
|    PTR2280 | 10252|
|    PTR2340 | 10035|
|    PTR2476 | 10032|
|    PTR2452 |  9644|
|    DAL2597 |  9461|
|    PTR2296 |  9426|
|    DAL2629 |  9319|
|    DAL2416 |  9302|
|    PWC328  |  9063|
|    ACA649  |  8908|
|    JZA7971 |  8779|
|    SKW4122 |  8746|
|    PTR2304 |  8698|
|    JZA568  |  8534|
+------------+------+
only showing top 20 rows

In [26]:
from pyspark.sql.functions import date_format, col

df_time_only = df_flightpath_with_date.withColumn(
    "Time", date_format(col("SecondTS"), "HH:mm:ss")
)
df_time_only.show(10, truncate=False)

+------------+-------------------+---------+----------+----------+--------+
|FlightNumber|SecondTS           |Latitude |Longitude |date      |Time    |
+------------+-------------------+---------+----------+----------+--------+
|ACA840      |2025-02-01 17:23:11|44.822113|-76.012704|2025-02-05|17:23:11|
|ACA840      |2025-02-01 17:23:58|44.86323 |-75.853562|2025-02-05|17:23:58|
|ACA840      |2025-02-01 17:24:06|44.870538|-75.825225|2025-02-05|17:24:06|
|ACA840      |2025-02-01 17:24:14|44.876962|-75.800171|2025-02-05|17:24:14|
|ACA840      |2025-02-01 17:24:45|44.904614|-75.692183|2025-02-05|17:24:45|
|ACA840      |2025-02-01 17:25:20|44.934402|-75.575801|2025-02-05|17:25:20|
|ACA840      |2025-02-01 17:25:30|44.942642|-75.5433  |2025-02-05|17:25:30|
|ACA840      |2025-02-01 17:25:38|44.950562|-75.512107|2025-02-05|17:25:38|
|ACA840      |2025-02-01 17:26:01|44.969101|-75.438799|2025-02-05|17:26:01|
|ACA840      |2025-02-01 17:26:15|44.981239|-75.390595|2025-02-05|17:26:15|
+------------+-------------------+---------+----------+----------+--------+
only showing top 10 rows